doctype html
html
  head
    link(rel='ampHtml' href=target.ampUrl)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
    title= "Signed HTTP Exchanges"
    style.
      h1,p {
        padding: 18px;
      }
  body
    h1= target.name
    p #{target.name}は最高
